
.wrapper {
	background: azure;
	border: 1px solid #bbe6ff;
	margin-left: 4%;
}

.navItem {
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid azure;
	padding-left: 10px;
	padding-right: 10px;
}

.ulHeader {
	font-size: 1.5em;
	text-align: center;
}