.wrapper {
	background: azure;
	height: 100vh;
}

.inputForm {
	border: 1px solid #bbe6ff;
	padding: 10px;
	background: white;
	margin: 0 auto;
}

.formGroup {
	margin: 10px;
}

.btn {
	margin: 10px;
	
}